<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Alfresco Login" verbose="1" parallel="classes" thread-count="3" group-by-instances="false">
 <listeners>
		<!-- <listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" /> -->
		<listener class-name="com.zaizi.automation.listeners.TestListener" />
    </listeners>

	<test name="Test-Login Alfresco"  thread-count="3">	
		<parameter name="firstNameFF" value="test" />
		<parameter name="lastNameFF" value="test" />
		<parameter name="emailFF" value="test@gmail.com" />
		<parameter name="userNameFF" value="testFF" />
		<parameter name="PasswordFF" value="user@123" />
		<parameter name="fullNameFF" value="test test" />
		<parameter name="screenShotNameFF" value="FFLoginTest" />	
		
		<parameter name="firstNameChrome" value="test" />
		<parameter name="lastNameChrome" value="test" />
		<parameter name="emailChrome" value="test@gmail.com" />
		<parameter name="userNameChrome" value="testChrome" />
		<parameter name="PasswordChrome" value="user@123" />
		<parameter name="fullNameChrome" value="test test" />
		<parameter name="screenShotNameChrome" value="ChromeLoginTest" />
		
		<parameter name="firstNameIE" value="test" />
		<parameter name="lastNameIE" value="test" />
		<parameter name="emailIE" value="test@gmail.com" />
		<parameter name="userNameIE" value="testIE" />
		<parameter name="PasswordIE" value="user@123" />
		<parameter name="fullNameIE" value="test test" />
		<parameter name="screenShotNameIE" value="IELoginTest" />	
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.LogintestFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.LogintestChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.LogintestIe"/>
			
		</classes>
	</test>
	
	<test name="Test-Site creation [Public] Alfresco" group-by-instances="true" preserve-order="true">	
		<parameter name="firstNameFF" value="privateuser" />
		<parameter name="lastNameFF" value="privateuser" />
		<parameter name="emailFF" value="privateuser@gmail.com" />
		<parameter name="userNameFF" value="privateuser" />
		<parameter name="PasswordFF" value="1qaz@WSX" />
		<parameter name="fullNameFF" value="privateuser privateuser" />
		<parameter name="siteFF" value="FF" />
		<parameter name="isPrivateFF" value="false" />
		<parameter name="siteIdFF" value="ffURL" />
		<parameter name="expectedResultFF" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameFF" value="Administrator" />
		<parameter name="newSiteNameFF" value="FF2" />		
		<parameter name="screenShotNameFF" value="FFSiteTest" />
		
		<parameter name="firstNameChrome" value="privateuser" />
		<parameter name="lastNameChrome" value="privateuser" />
		<parameter name="emailChrome" value="privateuser@gmail.com" />
		<parameter name="userNameChrome" value="privateuser" />
		<parameter name="PasswordChrome" value="1qaz@WSX" />
		<parameter name="fullNameChrome" value="privateuser privateuser" />
		<parameter name="siteChrome" value="CHROME" />
		<parameter name="isPrivateChrome" value="false" />
		<parameter name="siteIdChrome" value="chromeURL" />
		<parameter name="expectedResultChrome" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameChrome" value="Administrator" />
		<parameter name="newSiteNameChrome" value="CHROME2" />		
		<parameter name="screenShotNameChrome" value="ChromeSiteTest" />
		
		<parameter name="firstNameIE" value="privateuser" />
		<parameter name="lastNameIE" value="privateuser" />
		<parameter name="emailIE" value="privateuser@gmail.com" />
		<parameter name="userNameIE" value="privateuser" />
		<parameter name="PasswordIE" value="1qaz@WSX" />
		<parameter name="fullNameIE" value="privateuser privateuser" />
		<parameter name="siteIE" value="IE" />
		<parameter name="isPrivateIE" value="false" />
		<parameter name="siteIdIE" value="ieURL" />
		<parameter name="expectedResultIE" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameIE" value="Administrator" />
		<parameter name="newSiteNameIE" value="IE2" />		
		<parameter name="screenShotNameIE" value="IESiteTest" />	
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.SitetestFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.SitetestChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.SitetestIe"/>
			
		</classes>
	</test>	
	
	<test name="Test-Site creation [PRIVATE] Alfresco" group-by-instances="true" preserve-order="true">	
		<parameter name="firstNameFF" value="privateuser" />
		<parameter name="lastNameFF" value="privateuser" />
		<parameter name="emailFF" value="privateuser@gmail.com" />
		<parameter name="userNameFF" value="privateuser" />
		<parameter name="PasswordFF" value="1qaz@WSX" />
		<parameter name="fullNameFF" value="privateuser privateuser" />
		<parameter name="siteFF" value="PrivateFF" />
		<parameter name="isPrivateFF" value="true" />
		<parameter name="siteIdFF" value="privateFFURL" />
		<parameter name="expectedResultFF" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameFF" value="Administrator" />
		
		<parameter name="newSiteNameFF" value="UKPrivateFF2" />		
		<parameter name="screenShotNameFF" value="FFSiteTestPrivate" />	
		
		<parameter name="firstNameChrome" value="privateuser" />
		<parameter name="lastNameChrome" value="privateuser" />
		<parameter name="emailChrome" value="privateuser@gmail.com" />
		<parameter name="userNameChrome" value="privateuser" />
		<parameter name="PasswordChrome" value="1qaz@WSX" />
		<parameter name="fullNameChrome" value="privateuser privateuser" />
		<parameter name="siteChrome" value="PrivateChrome" />
		<parameter name="isPrivateChrome" value="true" />
		<parameter name="siteIdChrome" value="privatechromeURL" />
		<parameter name="expectedResultChrome" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameChrome" value="Administrator" />
		<parameter name="newSiteNameChrome" value="UKPrivateCHROME2" />		
		<parameter name="screenShotNameChrome" value="ChromeSiteTestPrivate" />
		
		<parameter name="firstNameIE" value="privateuser" />
		<parameter name="lastNameIE" value="privateuser" />
		<parameter name="emailIE" value="privateuser@gmail.com" />
		<parameter name="userNameIE" value="privateuser" />
		<parameter name="PasswordIE" value="1qaz@WSX" />
		<parameter name="fullNameIE" value="privateuser privateuser" />
		<parameter name="siteIE" value="PrivateIE" />
		<parameter name="isPrivateIE" value="true" />
		<parameter name="siteIdIE" value="privateIEURL" />
		<parameter name="expectedResultIE" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameIE" value="Administrator" />
		<parameter name="newSiteNameIE" value="UKPrivateIE2" />		
		<parameter name="screenShotNameIE" value="IESiteTestPrivate" />	
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.SitetestFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.SitetestChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.SitetestIe"/>
			
		</classes>
	</test>	
	<test name="Test-User test Alfresco">	
		<parameter name="firstNameFF" value="test" />
		<parameter name="lastNameFF" value="test" />
		<parameter name="emailFF" value="test@gmail.com" />
		<parameter name="userNameFF" value="testFF" />
		<parameter name="PasswordFF" value="user@123" />
		<parameter name="fullNameFF" value="test test" />
		<parameter name="newFirstNameFF" value="testMF" />		
		<parameter name="screenShotNameFF" value="FFUserTest" />
		
		<parameter name="firstNameChrome" value="test" />
		<parameter name="lastNameChrome" value="test" />
		<parameter name="emailChrome" value="test@gmail.com" />
		<parameter name="userNameChrome" value="testChrome" />
		<parameter name="PasswordChrome" value="user@123" />
		<parameter name="fullNameChrome" value="test test" />
		<parameter name="newFirstNameChrome" value="testM" />		
		<parameter name="screenShotNameChrome" value="ChromeUserTest" />
		
		<parameter name="firstNameIE" value="test" />
		<parameter name="lastNameIE" value="test" />
		<parameter name="emailIE" value="test@gmail.com" />
		<parameter name="userNameIE" value="testIE" />
		<parameter name="PasswordIE" value="user@123" />
		<parameter name="fullNameIE" value="test test" />
		<parameter name="newFirstNameIE" value="testMIE" />		
		<parameter name="screenShotNameIE" value="IEUserTest" />	
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.UsertestFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.UsertestChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.UsertestIe"/>
			
		</classes>
	</test>
	
	<test name="Test-UserGroup test Alfresco">	
		<parameter name="groupNameFF" value="GroupFF" />
		<parameter name="groupIdFF" value="GroupFFID" />
		<parameter name="newGroupNameFF" value="newGroupFF" />				
		<parameter name="screenShotNameFF" value="FFGroupUserTest" />	
		
		<parameter name="groupNameChrome" value="GroupChrome" />
		<parameter name="groupIdChrome" value="GroupChromeID" />
		<parameter name="newGroupNameChrome" value="newGroupChrome" />				
		<parameter name="screenShotNameChrome" value="ChromeGroupUserTest" />
		
		<parameter name="groupNameIE" value="GroupIE" />
		<parameter name="groupIdIE" value="GroupIEID" />
		<parameter name="newGroupNameIE" value="newGroupIE" />				
		<parameter name="screenShotNameIE" value="IEGroupUserTest" />		
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.UsergrouptestFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.UsergrouptestChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.UsergrouptestIe"/>
			
		</classes>
	</test>
	
	<test name="Test-Folder creation Alfresco" group-by-instances="true" preserve-order="true">	
		<parameter name="firstNameFF" value="privateuser" />
		<parameter name="lastNameFF" value="privateuser" />
		<parameter name="emailFF" value="privateuser@gmail.com" />
		<parameter name="userNameFF" value="privateuser" />
		<parameter name="PasswordFF" value="1qaz@WSX" />
		<parameter name="fullNameFF" value="privateuser privateuser" />
		<parameter name="siteFF" value="FolderFF" />
		<parameter name="isPrivateFF" value="false" />
		<parameter name="siteIdFF" value="folderffURL" />
		<parameter name="expectedResultFF" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameFF" value="Administrator" />
		<parameter name="folderNameFF" value="FolderFF" />
		<parameter name="folderTitleFF" value="FolderTitleFF" />			
		<parameter name="screenShotNameFF" value="FFFolderCreation" />	
		
		<parameter name="firstNameChrome" value="privateuser" />
		<parameter name="lastNameChrome" value="privateuser" />
		<parameter name="emailChrome" value="privateuser@gmail.com" />
		<parameter name="userNameChrome" value="privateuser" />
		<parameter name="PasswordChrome" value="1qaz@WSX" />
		<parameter name="fullNameChrome" value="privateuser privateuser" />
		<parameter name="siteChrome" value="FolderChrome" />
		<parameter name="isPrivateChrome" value="false" />
		<parameter name="siteIdChrome" value="folderchromeURL" />
		<parameter name="expectedResultChrome" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameChrome" value="Administrator" />
		<parameter name="folderNameChrome" value="FolderChrome" />
		<parameter name="folderTitleChrome" value="FolderTitleChrome" />			
		<parameter name="screenShotNameChrome" value="ChromeFolderCreation" />
		
		<parameter name="firstNameIE" value="privateuser" />
		<parameter name="lastNameIE" value="privateuser" />
		<parameter name="emailIE" value="privateuser@gmail.com" />
		<parameter name="userNameIE" value="privateuser" />
		<parameter name="PasswordIE" value="1qaz@WSX" />
		<parameter name="fullNameIE" value="privateuser privateuser" />
		<parameter name="siteIE" value="FolderIE" />
		<parameter name="isPrivateIE" value="false" />
		<parameter name="siteIdIE" value="folderieURL" />
		<parameter name="expectedResultIE" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameIE" value="Administrator" />
		<parameter name="folderNameIE" value="FolderIE" />
		<parameter name="folderTitleIE" value="FolderTitleIE" />			
		<parameter name="screenShotNameIE" value="IEFolderCreation" />	
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.Foldercreationff"/>
			<class name="com.zaizi.automation.alfresco.testScripts.FoldercreationChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.FoldercreationIe"/>
			
		</classes>
	</test>
	
	<test name="Test-Document Library Test Alfresco" group-by-instances="true" preserve-order="true">	
		<parameter name="firstNameFF" value="privateuser" />
		<parameter name="lastNameFF" value="privateuser" />
		<parameter name="emailFF" value="privateuser@gmail.com" />
		<parameter name="userNameFF" value="privateuser" />
		<parameter name="PasswordFF" value="1qaz@WSX" />
		<parameter name="fullNameFF" value="privateuser privateuser" />
		<parameter name="siteFF" value="DOCFF" />
		<parameter name="isPrivateFF" value="false" />
		<parameter name="siteIdFF" value="docffURL" />
		<parameter name="expectedResultFF" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameFF" value="Administrator" />
		<parameter name="documentNameFF" value="FileB.rtf" />
		<parameter name="roleNameFF" value="Site Contributor" />			
		<parameter name="screenShotNameFF" value="FFDocumentLibTest" />	
		
		<parameter name="firstNameChrome" value="privateuser" />
		<parameter name="lastNameChrome" value="privateuser" />
		<parameter name="emailChrome" value="privateuser@gmail.com" />
		<parameter name="userNameChrome" value="privateuser" />
		<parameter name="PasswordChrome" value="1qaz@WSX" />
		<parameter name="fullNameChrome" value="privateuser privateuser" />
		<parameter name="siteChrome" value="DOCChrome" />
		<parameter name="isPrivateChrome" value="false" />
		<parameter name="siteIdChrome" value="docchromeURL" />
		<parameter name="expectedResultChrome" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameChrome" value="Administrator" />
		<parameter name="documentNameChrome" value="FileA.rtf" />
		<parameter name="roleNameChrome" value="Site Contributor" />			
		<parameter name="screenShotNameChrome" value="ChromeDocumentLibTest" />
		
		<parameter name="firstNameIE" value="privateuser" />
		<parameter name="lastNameIE" value="privateuser" />
		<parameter name="emailIE" value="privateuser@gmail.com" />
		<parameter name="userNameIE" value="privateuser" />
		<parameter name="PasswordIE" value="1qaz@WSX" />
		<parameter name="fullNameIE" value="privateuser privateuser" />
		<parameter name="siteIE" value="DOCIE" />
		<parameter name="isPrivateIE" value="false" />
		<parameter name="siteIdIE" value="docieURL" />
		<parameter name="expectedResultIE" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="siteCreatorNameIE" value="Administrator" />
		<parameter name="documentNameIE" value="FileC.rtf" />
		<parameter name="roleNameIE" value="Site Contributor" />			
		<parameter name="screenShotNameIE" value="IEDocumentLibTest" />		
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.DocumentlibraryTestff"/>
			<class name="com.zaizi.automation.alfresco.testScripts.DocumentlibraryTestchrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.DocumentlibraryTestie"/>
			
		</classes>
	</test> 
		
	<!-- <test name="Test-External User invitation Alfresco">	
		<parameter name="firstNameFF" value="testFF1" />
		<parameter name="lastNameFF" value="testFF1" />
		<parameter name="emailFF" value="testngzaizi@gmail.com" />
		<parameter name="userNameFF" value="testFF1" />
		<parameter name="PasswordFF" value="testngzaizi123" />
		<parameter name="siteFF" value="ExternalFF" />
		<parameter name="siteIdFF" value="externalff" />
		<parameter name="roleNameFF" value="Collaborator" />			
		<parameter name="siteCreatorNameFF" value="test@gmail.com" />
		<parameter name="expectedResultFF" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="isPrivateFF" value="false" />		
		<parameter name="screenShotNameFF" value="FFExternalUserInvitationTest" />	
		
		<parameter name="firstNameChrome" value="testChrome1" />
		<parameter name="lastNameChrome" value="testChrome1" />
		<parameter name="emailChrome" value="testngzaizi@gmail.com" />
		<parameter name="userNameChrome" value="testChrome1" />
		<parameter name="PasswordChrome" value="testngzaizi123" />
		<parameter name="siteChrome" value="ExternalChrome" />
		<parameter name="siteIdChrome" value="externalchrome" />
		<parameter name="roleNameChrome" value="Collaborator" />			
		<parameter name="siteCreatorNameChrome" value="test@gmail.com" />
		<parameter name="expectedResultChrome" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="isPrivateChrome" value="false" />		
		<parameter name="screenShotNameChrome" value="ChromeExternalUserInvitationTest" />
		
		<parameter name="firstNameIE" value="testIE1" />
		<parameter name="lastNameIE" value="testIE1" />
		<parameter name="emailIE" value="testngzaizi@gmail.com" />
		<parameter name="userNameIE" value="testIE1" />
		<parameter name="PasswordIE" value="testngzaizi123" />
		<parameter name="siteIE" value="ExternalIE" />
		<parameter name="siteIdIE" value="externalie" />
		<parameter name="roleNameIE" value="Collaborator" />			
		<parameter name="siteCreatorNameIE" value="test@gmail.com" />
		<parameter name="expectedResultIE" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="isPrivateIE" value="false" />		
		<parameter name="screenShotNameIE" value="IEExternalUserInvitationTest" />	
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.ExternaluserInvitationff"/>
			<class name="com.zaizi.automation.alfresco.testScripts.ExternaluserInvitationchrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.ExternaluserInvitationff"/>
			
		</classes>
	</test> -->
	
	<test name="Test-Internal User invitation Alfresco" group-by-instances="true" preserve-order="true">	
		<parameter name="firstNameFF" value="testFF2" />
		<parameter name="lastNameFF" value="testFF2" />
		<parameter name="emailFF" value="testFF2@gmail.com" />
		<parameter name="userNameFF" value="testFF2" />
		<parameter name="PasswordFF" value="User@123" />
		<parameter name="fullNameFF" value="testFF2 testFF2" />
		<parameter name="siteFF" value="InternalFF" />
		<parameter name="siteIdFF" value="internalff" />
		<parameter name="roleNameFF" value="Collaborator" />			
		<parameter name="siteCreatorNameFF" value="test@gmail.com" />
		<parameter name="expectedResultFF" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="expectedInvitationresultFF" value="1 INVITES SENT OUT, 0 FAILURES" />		
		<parameter name="isPrivateFF" value="false" />		
		<parameter name="screenShotNameFF" value="FFInternalUserInvitationTest" />	
		
		<parameter name="firstNameChrome" value="testChrome2" />
		<parameter name="lastNameChrome" value="testChrome2" />
		<parameter name="emailChrome" value="testChrome2@gmail.com" />
		<parameter name="userNameChrome" value="testChrome2" />
		<parameter name="PasswordChrome" value="User@123" />
		<parameter name="fullNameChrome" value="testChrome2 testChrome2" />
		<parameter name="siteChrome" value="InternalChrome" />
		<parameter name="siteIdChrome" value="internalchrome" />
		<parameter name="roleNameChrome" value="Collaborator" />			
		<parameter name="siteCreatorNameChrome" value="test@gmail.com" />
		<parameter name="expectedResultChrome" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="expectedInvitationresultChrome" value="1 INVITES SENT OUT, 0 FAILURES" />	
		<parameter name="isPrivateChrome" value="false" />		
		<parameter name="screenShotNameChrome" value="ChromeInternalUserInvitationTest" />
		
		<parameter name="firstNameIE" value="testIE2" />
		<parameter name="lastNameIE" value="testIE2" />
		<parameter name="emailIE" value="testIE2@gmail.com" />
		<parameter name="userNameIE" value="testIE2" />
		<parameter name="PasswordIE" value="User@123" />
		<parameter name="fullNameIE" value="testIE2 testIE2" />
		<parameter name="siteIE" value="InternalIE" />
		<parameter name="siteIdIE" value="internalie" />
		<parameter name="roleNameIE" value="Collaborator" />			
		<parameter name="siteCreatorNameIE" value="test@gmail.com" />
		<parameter name="expectedResultIE" value="COULD NOT CREATE SITE SINCE THE URL IS ALREADY USED" />
		<parameter name="expectedInvitationresultIE" value="1 INVITES SENT OUT, 0 FAILURES" />	
		<parameter name="isPrivateIE" value="false" />		
		<parameter name="screenShotNameIE" value="IEInternalUserInvitationTest" />	
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.InternaluserinvitationsFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.InternaluserinvitationsChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.InternaluserinvitationsIe"/>
			
		</classes>
	</test>
	
	<test name="Test-Add Dashlet in main dashboard Alfresco">	
		<parameter name="addDashletFF" value="RSS Feed - Display the contents of an RSS feed given a URL configuration parameter." />		
		<parameter name="screenShotNameFF" value="AddDashletTestFF" />
		
		<parameter name="addDashletChrome" value="RSS Feed - Display the contents of an RSS feed given a URL configuration parameter." />		
		<parameter name="screenShotNameChrome" value="AddDashletTestChrome" />
		
		<parameter name="addDashletIE" value="RSS Feed - Display the contents of an RSS feed given a URL configuration parameter." />		
		<parameter name="screenShotNameIE" value="AddDashletTestIE" />
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.MaindashboardtestFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.MaindashboardtestChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.MaindashboardtestIe"/>
			
		</classes>
	</test>
	<test name="Test-Add Dashlet in site dashboard Alfresco" group-by-instances="true" preserve-order="true">	
		<parameter name="siteFF" value="DashletFF" />
		<parameter name="siteIdFF" value="dashletff" />
		<parameter name="dashletTitleFF" value="RSS Feed - Display the contents of an RSS feed given a URL configuration parameter." />		
		<parameter name="screenShotNameFF" value="AddDashletTestFF" />
		
		<parameter name="siteChrome" value="DashletChrome" />
		<parameter name="siteIdChrome" value="dashletchrome" />
		<parameter name="dashletTitleChrome" value="RSS Feed - Display the contents of an RSS feed given a URL configuration parameter." />		
		<parameter name="screenShotNameChrome" value="AddDashletSiteTestChrome" />
		
		<parameter name="siteIE" value="DashletIE" />
		<parameter name="siteIdIE" value="dashletie" />
		<parameter name="dashletTitleIE" value="RSS Feed - Display the contents of an RSS feed given a URL configuration parameter." />		
		<parameter name="screenShotNameIE" value="AddDashletSiteTestIE" />
				
		<classes>
			<class name="com.zaizi.automation.alfresco.testScripts.SitedashboardtestFf"/>
			<class name="com.zaizi.automation.alfresco.testScripts.SitedashboardtestChrome"/>
			<class name="com.zaizi.automation.alfresco.testScripts.SitedashboardtestIe"/>
			
		</classes>
	</test>
	<test name="Email Report">
		<classes>
			<class name="com.zaizi.automation.email.sendEmailReport"/>			
			
		</classes>
	</test>
</suite>